* {
    margin: 0px;
}

.container {
    display: grid;
    /* filas / columnas */
    grid-template: repeat(5, 1fr) / auto auto auto;
    grid-gap: 10px;
}

.item {
    background-color: lightgray;
    padding: 10px;
    border: 1px solid black;
}
